<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Book Shop | {{title}}</title>
  <link rel="icon" type="image/x-icon" href="/assets/icon/book.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  
  <!-- Đường dẫn tuyệt đối -->
  
<style>
 {{> sb-admin-2.min}}
</style>
</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-light bg-success topbar mb-4 static-top shadow justify-content-end">
    <div class="text-light " style="width: 30%;">
      {{#if Username}}
          <span  class="fw-bold fs-5" >{{Username}}</span>
      {{/if}}
      </div>


    <a class="nav-link" {{#if _admin}} href="/admin" {{else}} href="/" {{/if}}>
      <button class="btn btn-outline-light  btn-lg" style="display: flex; align-items:center; height: 100%;"
        type="button">
        <i class="fa-solid fa-house"></i>
        <div class="ml-1"> Home</div>

      </button>
    </a>


    <a class="nav-link" href="/signup">
      <button class="btn btn-outline-light  btn-lg" style="display: flex; align-items:center; height: 100%;"
        type="button">
        <i class="fas fa-user-plus"></i>
        <div class="ml-1"> Đăng ký</div>

      </button>
    </a>

    <a class="nav-link" href="/login-admin">
      <button class="btn btn-outline-light  btn-lg" style="display: flex; align-items:center; height: 100%;"
        type="button">
        <i class="fas fa-user-cog"></i>
        <div class="ml-1"> Đăng nhập quyền admin</div>
      </button>
    </a>

    <a class="nav-link" href="/login">
      <button class="btn btn-outline-light  btn-lg" style="display: flex; align-items:center; height: 100%;"
        type="button">
        <i class="fa-solid fa-right-to-bracket"></i>
        <div class="ml-1"> Đăng nhập</div>
      </button>
    </a>

    <a class="nav-link" href="/logout">
      <button class="btn btn-outline-light  btn-lg" style="display: flex; align-items:center; height: 100%;"
        type="button">

        <i class="fa-solid fa-right-from-bracket"></i>
        <div class="ml-1"> Đăng xuất</div>
      </button>

    </a>
  </nav>

  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
 
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <!-- Sidebar Toggle (Topbar) -->
          
          <h1 class="h5 w-100 fw-bold mb-0 text-gray-800 text-center">{{title}}</h1>
          <!-- Topbar Navbar -->
        </nav>
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">
          {{{body}}}
        </div>
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white p-2">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Book Shop Website 2023</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>

  <script src="/js/jquery/jquery.min.js"></script>
  <script src="js/sb-admin-2.min.js"></script>

  <script>
    $(document).ready(function() {
      $("#google-button").click(function() {
        window.location.href = "/google";
      });
    });
  </script>
</body>

</html>