{{#if orderDetail.length}}
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Sách</th>
                <th scope="col">Tác giả</th>
                <th scope="col">Giá/ Sản phẩm</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Đơn giá</th>

            </tr>
        </thead>
        <tbody id="listBook">
            {{#each orderDetail}}
            <tr>
                <th scope="row">{{this.ProductName}}</th>
                <td>{{this.Author}}</td>
                <td>{{this.PriceOne}} VNĐ</td>
                <td>{{this.Quantity}}</td>
                <td>{{this.Price}} VNĐ</td>

            </tr>
            {{/each}}


        </tbody>
    </table>
</div>
<h3 class="h5 w-100 fw-bold mb-0 text-gray-800 text-center mt-5 mb-5">Tổng hóa đơn: {{TotalPriceAllItem}} VNĐ
</h3>

{{else}}
<p class="text-center">Bạn chưa có sản phẩm nào trong giỏ hàng🥲</p>

{{/if}}

<div class="w-100 row ">
<a href="/profile" class="w-25 btn btn-success" style="margin: auto;"> Quay lại
</a>
</div>


