<div class="container d-flex flex-column">
  <form id="searchForm">
    <div class="row gap-3 justify-content-center">
      <input type="text" id="inputKey" class="col-lg-5 col-md-12 col-sm-12 col-12 form-control" placeholder="Nhập từ khóa" name="keyword"
        value="{{keyword}}" />

      <select name="type" class="col-xl-2 col-lg-2  col-md-4 col-sm-4 col-12 text-center form-select option">
        <option value="ProductName">Tên sách</option>
        <option value="Author">Tác Giả</option>
      </select>
      <select name="category" class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-12 text-center form-select option-2">
        <option value="0" selected>Tất cả</option>
        {{#each categories}}
        <option value="{{this.CategoryID}}">{{this.CategoryName}}</option>
        {{/each}}
      </select>
      <button type="submit" class="col-xl-2 col btn btn-success"><i class="fa-solid fa-magnifying-glass"></i> Tra cứu</button>
    </div>
  </form>
  <form id="filterForm">
    <div class="row gap-3 justify-content-center">
      <p class="col-xl-3 col-lg-3 col-md-12 fw-bold mt-2 mb-1" style="align-items: center;">Lọc theo giá (VNĐ): </p>
      <input type="number" class="col-xl-3 col-lg-3 col-md-4 col-sm-4 form-control" placeholder="Từ" name="minPrice" value="{{MinPrice}}" required />
      <input type="number" class="col-xl-3 col-lg-3 col-md-4 col-sm-4 form-control" placeholder="Đến" name="maxPrice" value="{{MaxPrice}}" required />
      <button type="submit" class="col-xl-2 col-lg col-md col-sm btn btn-success justify-content-end" id="applyFilter">
        <i class="fa-solid fa-filter"></i> Lọc</button>
    </div>
  </form>
  <div class="query-result mt-3">
    <h5 class="text-center mb-3 fw-bold">KẾT QUẢ TRA CỨU</h5>
    <div class="container mt-4">
      <div class="row justify-content-center">
        {{#if _books.length}}
        {{#each _books}}
        <div class="col-md-10 col-lg-6 col-sm-8 mt-4">
          <div class="card">
            <div class="row">
              <div class="col-md-4 d-flex align-items-center">
                <img src="/Images/{{this.Image}}" height="200px" class="card-img-top img-fluid" alt="Ảnh sách">
              </div>

              <div class="col-md-8">
                <div class="card-body" style="Height: 200px">
                  <p class="card-title font-weight-bold" style="Height: 30px;">{{this.ProductName}}</p>
                  <p class="card-text text-sm mt-4">Tác giả: {{this.Author}}</p>
                  <p class="card-text text-sm">Giá: {{this.Price}}</p>
                  <p class="card-text text-sm">Số lượng: {{this.StockQuantity}}</p>
                </div>
              </div>
            </div>

            <div class="card-footer d-flex align-items-center justify-content-end">
              <!-- Thêm hai nút Delete và Edit -->
              <button id="deleteItem" type="button" data-product-id="{{this.ProductID}}"
                class="btn btn-danger btn-sm btn-delete" style="width: 75px"><i class="fas fa-trash"></i> Xóa</button>
                
              <button type="button" data-product-id="{{this.ProductID}}" class="btn btn-edit btn-primary btn-sm ml-2 btn-edit"
                style="width: 75px"> <i class="fas fa-edit"></i>  Sửa</button>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      {{else}}
      <p class="text-center">Không Tìm Thấy Sách Theo Yêu Cầu🥲</p>
      {{/if}}
    </div>
  </div>
  <div class="d-flex justify-content-center mt-4 mb-4">
    {{#if pages}}
    <button class="btn-prevStart btn btn-light mr-2"><i class="fa fa-angle-double-left"></i></button>
    <button class="btn-prev btn btn-light mr-2"><i class="fas fa-chevron-left"></i></button>
    <select id = "pageSelect" class="col-2 align-self-center text-center paging form-select ">
      {{#each pages}}
      <option value="{{this}}">Page {{this}}</option>
      {{/each}}
    </select>
    <button  class="btn-next btn btn-light ml-2"><i class="fas fa-chevron-right"></i></button>
    <button class="btn-nextEnd btn btn-light ml-2"><i class="fa fa-angle-double-right"></i></button>
    {{/if}}
  </div>
  <style>
    .card:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transform: scale(1.05);
      cursor: pointer;
      /* Sử dụng con trỏ pointer khi rê vào */
    }
  </style>
</div>
<script>

  // Update Page
var currentPage;
// Hàm để cập nhật currentPage khi có sự kiện thay đổi
function updateCurrentPage() {
    currentPage = document.getElementById("pageSelect").value;
}

  const selection = document.querySelector(".paging");
  selection?.addEventListener("change", (e) => {
    const url = new URL(window.location.href);
    const query = new URLSearchParams(window.location.search);
    query.set("page", e.target.value);
    url.search = query;
    location.assign(url.href);
  });
  const query = new URLSearchParams(window.location.search);
  if (selection) selection.value = query.get("page") || 1;

  document.querySelector(".option").value = query.get("type") || "ProductName";
  document.querySelector(".option-2").value = query.get("category") || 0;

  document.getElementById("filterForm").addEventListener("submit", function (event) {
    event.preventDefault(); // Ngăn chặn form submit mặc định để xử lý bằng JavaScript

    var minValue = document.getElementsByName("minPrice")[0].value;
    var maxValue = document.getElementsByName("maxPrice")[0].value;

    // Tạo URL với tham số
    var url = new URL(window.location.href);
    var query = new URLSearchParams(url.search);
    query.set("minPrice", minValue);
    query.set("maxPrice", maxValue);
    url.search = query.toString();

    // Chuyển hướng trang
    location.assign(url.href);
  });

document.querySelectorAll('.btn-prevStart').forEach(button => {
  button.addEventListener('click', function(e) {
    event.preventDefault();
    updateCurrentPage();
    if(currentPage == 1){
      return;
    }
    const url = new URL(window.location.href);
    const query = new URLSearchParams(window.location.search);
    query.set("page", 1);
    url.search = query;
    location.assign(url.href);
  })
});

document.querySelectorAll('.btn-prev').forEach(button => {
  button.addEventListener('click', function(e) {
    event.preventDefault();
    updateCurrentPage();
    //const max = {{pages.length}};
    if(currentPage == 1){
      return;
    }
    const url = new URL(window.location.href);
    const query = new URLSearchParams(window.location.search);
    query.set("page", currentPage - 1);
    url.search = query;
    location.assign(url.href);
  })
});

document.querySelectorAll('.btn-nextEnd').forEach(button => {
  button.addEventListener('click', function(e) {
    event.preventDefault();
    updateCurrentPage();
    const max = {{pages.length}};
    if(currentPage == max){
      return;
    }
    const url = new URL(window.location.href);
    const query = new URLSearchParams(window.location.search);
    query.set("page", max);
    url.search = query;
    location.assign(url.href);
  })
});

document.querySelectorAll('.btn-next').forEach(button => {
  button.addEventListener('click', function(e) {
    event.preventDefault();
    updateCurrentPage();
    const max = {{pages.length}};
    if(currentPage == max){
      return;
    }
    const url = new URL(window.location.href);
    const query = new URLSearchParams(window.location.search);
    query.set("page", parseInt(currentPage,10) + 1);
    url.search = query;
    location.assign(url.href);
  })
});



  document.getElementById("searchForm").addEventListener("submit", function (event) {
    event.preventDefault(); // Ngăn chặn form submit mặc định để xử lý bằng JavaScript

    // Lấy giá trị từ input và select
    var keywordValue = document.getElementsByName("keyword")[0].value;
    var categoryValue = document.getElementsByName("category")[0].value;
    var typeValue = document.getElementsByName("type")[0].value;

    // Tạo URL với tham số
    var url = new URL(window.location.href);
    var query = new URLSearchParams(url.search);
    query.set("keyword", keywordValue);
    query.set("category", categoryValue);
    query.set("type", typeValue);
    url.search = query.toString();

    // Chuyển hướng trang
    location.assign(url.href);
  });


  // Edit
  document.querySelectorAll('.btn-edit').forEach(button => {
    button.addEventListener('click', function () {
      event.preventDefault();
      const productID = this.getAttribute('data-product-id');
      window.location.href = `/admin/book/edit/${productID}`;
    });
  });


  // Delete vs ajax
document.querySelectorAll('.btn-delete').forEach(button => {
  button.addEventListener('click', function() {
    event.preventDefault();
    const Id = this.getAttribute('data-product-id');
    const deleteUrl = `/admin/product/delete?ID=${Id}`;
    console.log(deleteUrl);
    // Sử dụng AJAX để gửi yêu cầu DELETE
    const xhr = new XMLHttpRequest();
    xhr.open('DELETE', deleteUrl, true);

    xhr.onreadystatechange = function() {
      if (xhr.readyState === 4) {
        if (xhr.status === 200) {
          // Xử lý thành công
          updateUI();
          console.log('Dữ liệu đã được xóa thành công!');
        } else {
          // Xử lý lỗi
          console.error('Lỗi xóa dữ liệu:', xhr.statusText);
        }
      }
    };
    xhr.send();
  });
});
//Update giao diện
function updateUI() {
    location.reload();
}


</script>