<div class="container d-flex flex-column">
  <form action="/admin" method="GET">
    <div class="row gap-3">
      <input
        type="text"
        class="col-7 form-control"
        placeholder="Tìm kiếm bằng tên thể loại"
        name="keyCategoryName"
        value= "{{ValueName}}"
        required
      />
      <button type="submit" class="col btn btn-success">Tra cứu</button>
    </div>
  </from>

  <div class="query-result mt-5">
    <h5 class="text-center mb-3">KẾT QUẢ TRA CỨU</h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#ID</th>
          <th scope="col">Tên thể loại</th>
          <th scope="col">Số sản phẩm</th>
          <th scope="col">Xóa</th>
          <th scope="col">Chỉnh sửa</th>
        </tr>
      </thead>
      <tbody>
         {{#each _Categories}}
          <tr>
            <th scope="row">{{this.CategoryID}}</th>
            <td>{{this.CategoryName}}</td>
            <td>{{this.CategoryQuantity}}</td>
            <td><i class="fas fa-trash"></td>
            <td><i class="fas fa-edit"></td>
        {{else}}
          <td colspan="6" class="text-center">Không Tìm Thấy Sách Theo Yêu Cầu🥲</td>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center">
    {{#if pages}}
    <select class="col-2 align-self-center paging form-select">
      {{#each pages}}
      <option value="{{this}}">Page {{this}}</option>
      {{/each}}
    </select>
    {{/if}}
  </div>
</div>
