<div class="container d-flex flex-column">
    <form id="searchForm" method="GET">
        <div class="row gap-3">
        <input
            type="text"
            class="col-7 form-control"
            placeholder="Nhập ID hoặc tên người dùng"
            name="keyword"
            value= "{{keyword}}"
        />
        <button type="submit" class="col btn btn-success">Tra cứu</button>
        </div>
    </form>

    <div class="query-result mt-5">
        <h5 class="text-center mb-3">KẾT QUẢ TRA CỨU</h5>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Tên người dùng</th>
                    <th scope="col">Email</th>
                    <th scope="col">Loại tài khoản</th>
                    <th scope="col">Xóa</th>
                    <th scope="col">Chỉnh sửa</th>
                </tr>
            </thead>

            <tbody>
                {{#each users}}
                    <tr id = {{this.UserID}}>
                        <th scope="row">{{this.UserID}}</th>
                        <td>{{#if this.Username}} {{this.Username}} {{else}} {{this.GoogleName}} {{/if}}</td>
                        <td><a href="mailto:{{this.Email}}">{{this.Email}}</a></td>

                        <td>{{#if this.GoogleID}} Google {{else}} Thường {{/if}}</td>
                        <td>
                            <button class="btn-delete" data-user-id="{{this.UserID}}">
                                <i class="fas fa-trash"></i> 
                            </button></td>
                        <td>
                            {{!-- {{#unless this.GoogleID}} --}}
                            <button class="btn-edit" data-user-id="{{this.UserID}}">
                                <i class="fas fa-edit"></i> 
                            </button>
                            {{!-- {{/unless}} --}}
                        </td>
                    </tr>   
                {{else}}
                <td colspan="6" class="text-center">Không Tìm Thấy Người Dùng.</td>
                {{/each}}
            </tbody>
        </table>
    </div>


    <div class="d-flex justify-content-between">
        <div></div>

        <div class="d-flex col-10 justify-content-center">
            {{#if pages}}
                <button class="btn-prev btn btn-success mr-2">Trước</button>

                <select id = "pageSelect" class="col-2 align-self-center text-center paging form-select ">
                    {{#each pages}}
                        <option value="{{this}}">Page {{this}}</option>
                    {{/each}}
                </select>
                
                <button class="btn-next btn btn-success ml-2">Sau</button>
            {{/if}}
        </div>
        
        {{!-- <span>Số lượng: {{total}}</span> --}} 
        <span></span>
    </div>
</div>

<script>
    window.onload = function() {
        var currentPage = 1;
        function updateCurrentPage() {
            currentPage = document.getElementById("pageSelect").value;
        }
        
        const selection = document.querySelector(".paging");
        selection?.addEventListener("change", (e) => {
            const url = new URL(window.location.href);
            const query = new URLSearchParams(window.location.search);
            query.set("page", e.target.value);
            url.search = query;
            location.assign(url.href);
        });
  
        const query = new URLSearchParams(window.location.search);
        if (selection) 
        {
            selection.value = query.get("page") || 1;
        }

        document.querySelectorAll('.btn-prev').forEach(button => {
            button.addEventListener('click', function(e) {
                e.preventDefault();
                updateCurrentPage();
            
                if (currentPage == 1)
                {
                    return;
                }

                const url = new URL(window.location.href);
                const query = new URLSearchParams(window.location.search);
                query.set("page", currentPage - 1);
                url.search = query;
                location.assign(url.href);
            })
        });

        document.querySelectorAll('.btn-next').forEach(button => {
            button.addEventListener('click', function(e) {
                e.preventDefault();
                updateCurrentPage();
        
                const max = {{pages.length}};
               
                if (currentPage == max) 
                {
                    return;
                }

                const url = new URL(window.location.href);
                const query = new URLSearchParams(window.location.search);
                query.set("page", parseInt(currentPage,10) + 1);
                url.search = query;
                location.assign(url.href);
            })
        });

        // Delete vs AJAX
        document.querySelectorAll('.btn-delete').forEach(button => {
            button.addEventListener('click', function() {
              
                const userID = this.getAttribute('data-user-id');
                
                const deleteUrl = `/accounts/delete/${userID}`;
                const xhr = new XMLHttpRequest();
                xhr.open('DELETE', deleteUrl, true);
alert(userID);
                xhr.onreadystatechange = function() {
                    alert("-1");
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            alert("0");
                            updateUI(userID);
                            console.log('Dữ liệu đã được xóa thành công!');
                        } else {
                            console.error('Lỗi xóa dữ liệu:', xhr.statusText);
                        }
                    }
                };

                xhr.send();
            });
        });

        function updateUI(userID) {
            alert("1");
            const rowToRemove = document.getElementById(userID);
            
            if (rowToRemove) {alert("2");
                rowToRemove.remove();
            } else {
                console.error('Không tìm thấy hàng để loại bỏ.');
            }
        }

        // Edit
        document.querySelectorAll('.btn-edit').forEach(button => {
            button.addEventListener('click', function(e) {
                e.preventDefault();
                const userID = this.getAttribute('data-user-id');
                window.location.href = `/accounts/edit/${userID}`;
            });
        }); 
    }; 
</script> 
